page-game {
  .label-md{
    margin: 0;
  }
  .list-md{
    margin: 0;
    width: 100%;
  }
  .card-content {
    display:  flex;
    align-items:  center;
    justify-content: center;
    font-size: 1.8rem;
    width: 100%;
    ion-icon[name^=arrow] {
      font-size: 2em;
      &[name^=arrow-dropright] {
        margin-left: auto;
      }
      &[name^=arrow-dropleft] {
        margin-right: auto;
      }
    }
  }

  .player-score {
    position: absolute;
    left: 23%;
    div {
      font-size: 45px;
    }
    .player-own-score {
      opacity: 0.6;
      font-size: 22.5px;
    }
  }
  ion-item[data-team^=blue] {
    ion-icon[name^=arrow]{
      color: color(team-blue);
      &[name^=arrow-dropright] {
        color: color(team-red);
      }
    }
    .player-score {
        color: color(team-blue);
      .player-own-score {
        color: color(team-red);
      }
    }
  }
  ion-item[data-team^=red] {
    ion-icon[name^=arrow]{
      color: color(team-red);
      &[name^=arrow-dropleft] {
        color: color(team-blue);
      }
    }
    .player-score {
      color: color(team-red);
      .player-own-score {
        color: color(team-blue);
      }
    }
  }
  .score{
    font-size: 40vw;
  }
  .blue{
    color: color(team-blue);
  }
  .red{
    color: color(team-red);
  }
  .shirt-blue{
    color: color(team-blue);
  }
  .shirt-red{
    color: color(team-red);
  }
  .grid {
    padding-top: 50px;
    height: 100%;
    .row, .col {
      height: 100%;
    }
    .row {
      .col {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .user-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-around;
      width: 100%;
    }
    .list {
      ion-item, ion-item-sliding {
        background: none;
      }
      ion-item-sliding {
        margin-top: 20px;
      }

      .own-goal, .goal {
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 0;
        border: none;
        width: 100%;
        div {
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: calc(100% - 25px);
          width: 100%;
          color: white;
          font-size: 20px;
          font-weight: 800;
          margin: 0 20px;
          width: 100%;
        }
      }
      .own-goal div {
        background: red;
      }
      .goal div {
        background: green;
      }
      .item-inner {
        border: none;
      }
      .card {
        margin: 0 auto;
        max-width: 100%;
        padding: 15px 10px;
        .card-content {
          text-align: center;
        }
      }
    }
    .score {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 30vh;
      border-radius: 5%;
      height: 60%;
      width: 90%;
      border: 1px solid gainsboro;
      background: #fff;
    }
  }
}
