page-game {
  .label-md{
    margin: 0;
  }
  .list-md{
    margin: 0;
  }
  .card-content{
    font-size: 1.8rem;
  }
  .score{
    font-size: 40vw;
  }
  .blue{
    color: blue;
  }
  .red{
    color: red;
  }
  .shirt-blue{
    color: blue;
  }
  .shirt-red{
    color: red;
  }
  .grid {
    margin-top: 50px;
    .user-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-around;
    }
    .list {
      .item-inner {
        border: none;
      }
      .card {
        padding: 15px 10px;
        .card-content {
          text-align: center;
        }
      }
    }
    .score {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 30vh;
    }
  }
}
