page-game {
  .label-md{
    margin: 0;
  }
  .list-md{
    margin: 0;
    width: 100%;
  }
  .score{
    font-size: 40vw;
  }
  .blue{
    color: color(team-blue);
  }
  .red{
    color: color(team-red);
  }
  .shirt-blue{
    color: color(team-blue);
  }
  .shirt-red{
    color: color(team-red);
  }
  .grid {
    padding-top: 50px;
    height: 100%;
    .row, .col {
      height: 100%;
    }
    .row {
      .col {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .user-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-around;
      width: 100%;
    }
    .list {
      ion-item, ion-item-sliding {
        background: none;
      }
      ion-item-sliding {
        margin-top: 20px;
      }
      .item-inner {
        border: none;
      }
      .card {
        margin: 0 auto;
        max-width: 100%;
        padding: 15px 10px;
        .card-content {
          text-align: center;
        }
      }
    }
    .score {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 30vh;
      border-radius: 5%;
      height: 60%;
      width: 90%;
      border: 1px solid gainsboro;
      background: #fff;
    }
  }
}
