page-ranking {
  .list {
    ion-label {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      p {
        display: inline;
        padding-left: 10px;
      }
      ion-icon {
        color: #666;
      }
    }
  }
}
