page-groups {
  .label-md{
    margin: 0;
  }
  .list-md{
    margin: 0;
  }
  .card-content{
    font-size: 1.8rem;
  }
  .score{
    font-size: 40vw;
  }
  .blue{
    color: blue;
  }
  .red{
    color: red;
  }
  .shirt-blue{
    color: blue;
  }
  .shirt-red{
    color: red;
  }
}
