<ion-slides initialSlide="1" (ionSlideDidChange)="slideChanged()">
  <ion-slide>
    <h1>{{leftText()}}</h1>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-content>
        <ion-icon (touchend)="goalTouched('left')" name="arrow-dropleft"></ion-icon>
        {{player.name()}}
        <ion-icon name="shirt" class="{{ 'shirt-' + player.team }}"></ion-icon>
        <ion-icon *ngIf="player.position === 'defender'" name="body"></ion-icon>
        <ion-icon *ngIf="player.position === 'attacker'" name="football"></ion-icon>
        <ion-icon (touchend)="goalTouched('right')" name="arrow-dropright-circle"></ion-icon>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <h1>{{rightText()}}</h1>
  </ion-slide>
</ion-slides>